/* TOP NAV */
/* TOP NAV BACKGROUND */
.topnav {
	overflow: hidden;
	background-color: #f5f5f5;
	position: fixed;
	width: 100%;
}

/* TOP NAV START POSITION WITHOUT COLOR AND DECORATION */
.topnav>a {
	position: relative;
	color: #000;
	text-decoration: none;
}

/* TOP NAV HOVER COLOR */
.topnav>a:hover {
	color: #000;
}

/* TOP NAV ANIMATION */
.topnav>a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

/* TOP NAV ANIMATION WHEN HOVER */
.topnav>a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* TOP NAV TEXT STYLING */
.topnav a {
	float: right;
	padding: 10px 15px;
	text-decoration: none;
	font-family: "Muli", sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #6e6e6e;
	text-align: center;
}

/* TOP NAV  END*/

/* RUDOLFS KLAVINS */
.main {
	font-family: "Economica", sans-serif;
	letter-spacing: 0.1em;
	font-size: 2.5em;
	font-weight: 700;
	color: #000000;
	margin: 0;
	padding: 50px 0 0 20px;
	background: linear-gradient(to right, #ffffff, transparent), url("/images/main_background.png") repeat center;
}

.submain {
	font-family: "Economica", sans-serif;
	letter-spacing: 0.1em;
	font-size: 0.6em;
	font-weight: 300;
	color: #383838;
	margin: 0;

}

/* RUDOLFS KLAVINS END */

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* CONTACT INFO */
.contacts_title {
	list-style-type: none;
	padding: 0;
	text-align: center;
	margin: 0;
	padding: 10px 0 10px 0;

}

.myinfo {
	list-style-type: none;
	margin: 0;
	padding: 55px;
	background-image: url(/images/diagonal_striped_brick.png);
	border: 1px solid rgb(38, 0, 255);

}



.myinfo li {
	/* display: block; */
	margin: 0 10px 0 10px;
	padding: 10px;
	font-size: 1em;
	font-weight: 700;
	background-color: #383838;
	color: #ffffff;
	/* text-align: center; */
	width: fit-content;
}

.myinfo a:hover {
	color: rgb(0, 153, 255);
}


/* CONTACT INFO */

/* Everything in the footer */
footer {
	font-family: "Economica", sans-serif;
	letter-spacing: 0.1em;
	font-size: 1.3em;
	font-weight: 700;
	color: #000000;
	text-align: center;
	margin: 0;
	padding: 50px 0 0 20px;

}


/* BACK TO TOP hover color */
.top {
	text-decoration: none;
}

.top:hover {
	color: rgb(0, 153, 255);
}

/* Everything in the footer */